<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ path('homepage') }}"><img src="image/logoAfpa.jpg" class="logo"></a>
  <button class="navbar-toggler"
    type="button"data-toggle="collapse"data-target="#navbarColor03"aria-controls="navbarColor03"aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
      </li>
    </ul>
    <h1>Blablafpa</h1>
    <form class="form-inline my-2 my-lg-0" >
      <svg width="3em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
      
     
    </form>
    <ul class="navbar-nav ml-auto">
			{% if app.user %}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountFropdownLink">
						<img src="{{app.user.studentPicture}}" alt="Avatar de {{app.user.fullname}}" class="avatar avatar-mini">{{app.user.fullname}}</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelly="accountDropdownLink">
						<a href="{{ path( "lift_create" ) }}" class="dropdown-item">Proposer un trajet</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path( "account_my_account" ) }}" class="dropdown-item">Mon compte</a>
						<a href="{{ path( "account_bookings" ) }}" class="dropdown-item">Mes réservations</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path( "account_logout" ) }}" class="dropdown-item">Déconnexion</a>

					</div>

				</li>

			{% else %}
				<li class="nav-item">
					<a href="{{ path ('account_register')}}" class="nav-link">Inscription</a>
				</li>
				<li class="nav-item">
					<a href="{{ path ('account_login')}}" class="nav-link">Connexion</a>
				</li>
			{% endif %}
		</ul>
  </div>
</nav>

{% for label, messages in app.flashes %}
  <div class="container">
    <div class="alert-{{ label }}">
      {% for message in messages %}
        <p>
          {{ message|raw }}
        </p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
